/*заголовки  h #212121
  текст p #757575
  цвет ховер #2196f3
  белый #ffffff
  черный #000000
  studio в хедере#ffffff
  фон блока команды #f5f4fa
  фон футера #2f303a
  контакты и мейл-форма в футере rgba(255, 255, 255, 0.6)*/

:root {
  --clear-black-color: #000000;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --footer-background: #2f303a;
  --clear-white-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --portfolio-projects-bg-color: #eeeeee;
  --button-hover-color: #188ce8;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --skills-title-bg-color: rgba(47, 48, 58, 0.8);
  --icons-color: #afb1b8;
  --footer-link-bg-color: rgba(255, 255, 255, 0.1);
  --bg-portfolio-hover: rgba(33, 150, 243, 0.9);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  /* margin: 0; 
  padding: 0;*/
}
img {
  display: block;
}
body {
  padding-top: 80px;
  font-family: var(--main-font);
  background-color: var(--clear-white-color);
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}
.list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.link {
  display: block;
  text-decoration: none;
}
button {
  font-family: inherit;
  color: inherit;
  letter-spacing: inherit;
  border: none;
  /* border: 1px solid transparent; */
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* header css */
/* .header { 
  border: 1px solid #ececec;
}*/
.header {
  position: fixed;
  width: 100%;
  min-height: 80px;
  top: 0;
  z-index: 10;
  background-color: #fff;
}
.webstudio {
  display: block;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  transition: color 250ms var(--transition-timing-function);
}
.web {
  color: var(--accent-color);
}
.header .webstudio {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 85px;
  color: var(--clear-black-color);
}
.header-container,
.site-nav {
  display: flex;
}
.header-container {
  justify-content: space-between;
}
.site-nav-list .item:not(:last-child) {
  margin-right: 50px;
}
.header-contacts .item:not(:last-child) {
  margin-right: 30px;
}
.site-nav-list .link,
.header-contacts .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms var(--transition-timing-function);
}
.header-contacts .link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-text-color);
}
.header-contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
.site-nav-list .link.current {
  color: var(--accent-color);
}
.current {
  position: relative;
}
.current::after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  bottom: -1px;
  border-radius: 2px;
}

/* hero css */
.hero {
  max-width: 1600px;
  margin: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  height: 600px;
  background-color: var(--primary-text-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: cover; */
  text-align: center;
}
.hero-title {
  margin-bottom: 30px;
  color: var(--clear-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.modal-btn,
.form-btn,
.send-btn {
  display: inline-block;
  min-width: 200px;
  height: 50px;
  color: var(--clear-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms var(--transition-timing-function);
}
.modal-btn {
  padding: 10px 32px;
}
.form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 29px;
}
.send-btn {
  width: 200px;
  margin: auto;
}
.form-btn-icon {
  margin-left: 10px;
}
.modal-btn:hover,
.modal-btn:focus,
.send-btn:hover,
.send-btn:focus {
  background-color: var(--button-hover-color);
  cursor: pointer;
}

/* common css */
.section.features {
  padding-top: 94px;
  padding-bottom: 47px;
}
.section.skills {
  padding-top: 47px;
  padding-bottom: 94px;
}
.section.team,
.section.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.features .title {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* features css */
.features .item {
  width: calc((100% - 90px) / 4);
}
.features .item:not(:last-child) {
  margin-right: 30px;
}
.features-icon {
  width: 70px;
  height: 70px;
}
.features-bg {
  height: 120px;
  padding: 25px 100px;
  margin-bottom: 30px;
  background-color: var(--secondary-bg-color);
}
.features .description {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
}

/* skills css */
.skills .title {
  padding-top: 27px;
  padding-bottom: 27px;
  color: var(--clear-white-color);
  background-color: var(--skills-title-bg-color);
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}
.skills .item {
  width: calc((100% - 60px) / 3);
  position: relative;
}
.skills .item:not(:last-child) {
  margin-right: 30px;
}

/* team css */
.team {
  background-color: var(--secondary-bg-color);
}
.team .item {
  width: calc((100% - 90px) / 4);
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}
.team .item:not(:last-child) {
  margin-right: 30px;
}
.team-member {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-info {
  padding: 30px 32px 24px;
}
.team .description {
  margin-bottom: 16px;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team .soc-netw-list {
  justify-content: space-between;
}
.soc-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.soc-netw .link {
  justify-content: center;
  align-items: center;
  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icons-color);
  transition: color 250ms var(--transition-timing-function),
    background-color 250ms var(--transition-timing-function);
}
.soc-netw .link:hover,
.soc-netw .link:focus {
  color: var(--clear-white-color);
  background-color: var(--accent-color);
}

/* clients css */
.clients .item {
  justify-content: center;
  align-items: center;
  width: calc((100% - 150px) / 6);
  height: 90px;
}
.clients .item:not(:last-child) {
  margin-right: 30px;
}
.clients .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--icons-color);
  color: var(--icons-color);
  border-radius: 4px;
  transition: color 250ms var(--transition-timing-function),
    border-color 250ms var(--transition-timing-function);
}
.clients .link:hover,
.clients .link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.clients-icon {
  fill: currentColor;
}

/* footer css */
.footer {
  background: var(--footer-background);
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer .webstudio {
  margin-bottom: 20px;
  color: var(--clear-white-color);
}
.address {
  color: var(--clear-white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.footer-contacts .link {
  color: var(--footer-link-color);
}
.footer-contacts .item {
  margin-top: 9px;
  margin-bottom: 9px;
}
.footer-contacts {
  flex-direction: column;
}
.join-in,
.subscribe {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--clear-white-color);
}
.wrapper-address {
  margin-right: 69px;
}
.wrapper-join-in {
  width: 206px;
  margin-right: 94px;
}
.footer .soc-netw-list {
  justify-content: space-between;
}
.footer-link .link {
  color: var(--clear-white-color);
  background-color: var(--footer-link-bg-color);
}
.soc-icon-footer {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.subscribe-form {
  display: flex;
}
.subscribe-form-input {
  margin-right: 12px;
  padding: 15px 16px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  /* outline: none; */
}
.subscribe-form-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* portfolio main css */
.filter-btn {
  background-color: var(--secondary-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  border-radius: 4px;
  transition: color 250ms var(--transition-timing-function),
    background-color 250ms var(--transition-timing-function),
    box-shadov 250ms var(--transition-timing-function);
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--clear-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}

.filter-list {
  justify-content: center;
  margin-bottom: 34px;
}
.filter-list .item:not(:last-child) {
  margin-right: 8px;
}
.filter-btn {
  padding: 6px 22px;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-header {
  border-bottom: 1px solid #ececec;
}
.portfolio-projects {
  flex-wrap: wrap;
}
.portfolio-projects .item {
  width: calc((100% - 60px) / 3);
  /* position: relative; */
}
.projects-border {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.portfolio-projects .item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.portfolio-projects .item.item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.portfolio-projects .link {
  position: relative;
  transition: box-shadow 250ms var(--transition-timing-function);
}
.portfolio-projects .title {
  margin-bottom: 4px;
  color: var(--primary-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-projects .subtitle {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.88;
}
.portfolio-card {
  position: relative;
  overflow: hidden;
}
.portfolio-card::after {
  position: absolute;
  display: block;
  content: 'Технокряк это современная площадка распространения коронавируса. Компании используют эту платформу для цифрового шпионажа и атак на защищённые сервера конкурентов.';
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--clear-white-color);
  background-color: var(--bg-portfolio-hover);
  transition: transform 250ms var(--transition-timing-function);
}
.portfolio-projects .link:hover .portfolio-card::after,
.portfolio-projects .link:focus .portfolio-card::after {
  transform: translateY(-100%);
}
.portfolio-projects .link:hover,
.portfolio-projects .link:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

/* modal-window css */
.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-color);
  opacity: 1;
  transition: opacity 250ms var(--transition-timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal-form {
  transform: translate(-50%, -50%) scale(0.5);
}
.modal-form {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms var(--transition-timing-function);
}
.modal-form-input {
  /* position: relative; */
  /* display: block; */
  padding-left: 42px;
  padding-right: 16px;
  width: 100%;
  height: 40px;
  /* margin-bottom: 28px; */
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms var(--transition-timing-function);
}
.form-field {
  position: relative;
  margin-bottom: 28px;
  /* display: block; */
}
.label {
  position: absolute;
  top: -18px;
  left: 0;
  color: var(--secondary-text-color);
}
.label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.modal-form-icon {
  position: absolute;
  top: 11px;
  left: 12px;
  fill: var(--primary-text-color);
  width: 18px;
  height: 18px;
  transition: fill 250ms var(--transition-timing-function);
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.close-form-icon {
  fill: var(--clear-black-color);
  transition: fill 250ms var(--transition-timing-function);
}
.close-btn:hover .close-form-icon,
.close-btn:focus .close-form-icon {
  fill: var(--accent-color);
  cursor: pointer;
}
.modal-text {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--primary-text-color);
}
.form-field.comment {
  margin-bottom: 20px;
}
.comment-form-input {
  resize: none;
  /* display: block; */
  /* margin-bottom: 20px; */
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms var(--transition-timing-function);
}
.comment-form-input::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-input:focus,
.comment-form-input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
  cursor: pointer;
}
.modal-form-input:focus ~ .modal-form-icon {
  fill: var(--accent-color);
}
.checkbox {
  /* -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;
  position: absolute;*/
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
.icon-check {
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 2px;
  fill: #fff;
  transition: background-color 250ms var(--transition-timing-function),
    border 250ms var(--transition-timing-function);
}
.checkbox:checked + .icon-check {
  background-color: var(--accent-color);
  border: none;
  cursor: pointer;
}
.agreement-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}
.agreement-link {
  color: var(--accent-color);
}
